@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

article_1 {width: 54%;margin: 0 auto;}
body{
	background-size: cover;
	background: #f5f5f5;
}
#wapper{
	margin: 0 auto;
	width: 80%;
}
header{
	width: 100%;
	background: white;
	text-align: center;
	box-shadow: 0px 1px 5px #0c2745;
}
.icon-logo{
	min-width: 230px;
    min-height: 66px;
    background-image: url(img/goicuoc/logo.png) ;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    display: inline-block;
}
section{
	width: 54%;
	margin: 0 auto;
	margin-top: 21px;
	
}
article{
	width: 100%;
	margin-top: 49px;
}
article img{
	width: 100%;
	position: relative;
	top: 0px;
	transition: 0.4s;
}
article img:hover{
	top: -13px;
}
.bg1{	
width: 100%;
background: white;
box-shadow: 0px 4px 1px -1px #0000006b;
}
h1{
text-transform: uppercase;
color: red;
}
.vien{
	border-bottom: 3px solid red;
	margin-bottom: 21px;
	margin-top: 10px;
}
p{
    margin: 14px;
    font-size: 13px;
}
.vien_1{
	border-bottom: 3px solid #f2b91f;
	margin-bottom: 21px;
	margin-top: 10px;
}
h2{	
color: #f2b91f;
text-transform: uppercase;
}
.box_1{
	width: 49%;
	height: 273px;
	text-align: center;
	background: white;
	float: left;
}
.box_1 img{
	width: 100%;
}
.mr{
	margin-right: 15px;
}
.text{
    margin-top: 21px;
    text-align: left;
    font-size: 14px;
    padding-left: 11px;
}
